# Tinglysningsdata
Script som beriger matrikeltabel med oplysninger fra tingbogen ud fra matrikeloplysninger som slås op i tingbogens [system til system adgang](http://www.tinglysningsretten.dk/etl/Pages/default.aspx) som kan tilgås via [API'et](http://www.tinglysningsretten.dk/etl/hoveddokumenter/Documents/HTTP_API_beskrivelse%20v1.1.docx). Scriptet er opbygget i tre faser:
1. [Input af matrikeldata fra database](#Input)
2. [Berigelse af matrikeldata med data fra tingbogen](#Berigelse)
3. [Output berigede matrikeldata til database](#Output)

In [5]:
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy

#### Databaseforbindelsen opsættes

In [62]:
user = 'xxx'
pw = 'xxx'
port = 5432
host = 'postgres'
db = 'ballerup'
schema = 'proj_tinglysning'
table = 'ballerup'

In [12]:
con = create_engine('postgresql://{0}:{1}@{2}:{3}/{4}'.format(user, pw, host, port, db))

# Input
Laver DF med matrikeloplysninger for Ballerup Kommune. Her er listet to muligheder: 1. som henter data fra csv og 2. som henter fra PostgreSQL

### 1. CSV

In [6]:
# Laver DF med matrikeloplysninger for Ballerup Kommune 
# Fjern .head(5) når det hele skal ind 
matrikel = pd.read_csv('data/matrikel.csv').head(5)

In [7]:
matrikel

   elavskode matrnr   esr_ejdnr
0      20151   11bø  1510034160
1      20151   11cz  1510034152
2      20151   11cx  1510034101
3      20151   11cæ  1510034144
4      20151   11cp  1510017479

### 2. PostgreSQL

In [57]:
# Laver DF med matrikeloplysninger for Ballerup Kommune 
# Fjern .head(5) når det hele skal ind 
matrikel = pd.read_sql_query('select elavskode, matrnr, esr_ejdnr from "_00_grundkort"."_00_02_jordstykke"',con=con).head(5)

In [58]:
matrikel.applymap(str)

  elavskode matrnr     esr_ejdnr
0   20151.0   11bø  1510034160.0
1   20151.0   11cz  1510034152.0
2   20151.0   11cx  1510034101.0
3   20151.0   11cæ  1510034144.0
4   20151.0   11cp  1510017479.0

# Berigelse
I denne sektion beriges matriklerne med data fra Tinglysning.

In [8]:
# Bruges til ikke at overbelaste API'et
import time

Tænker at det er i nedenstående funktion vi har brug for hjælp til at få hul igennem til API'et. 
Beskrivelse af hvordan parameteren row fungerer i pandas
https://stackoverflow.com/a/30389492

In [9]:
def get_tinglysning(row):
    """
    Henter data fra tinglysning for hver række i dataframe på baggrund af
    matrikeloplysninger. Bruges i sammenhæng med apply metoden på DF
    """
    ejerlav = str(round(row['elavskode']))
    matnr = row['matrnr']
    #ejedomsnr = row['esr_ejdnr'] #Bruges ikke endnu, men kan bruges som alternativ til matrikelnummer/ejerlav
    url = 'https://www.tinglysning.dk/tinglysning/unsecrest/ejendom/landsejerlavmatrikel?landsejerlavid={}&matrikelnr={}'.format(ejerlav, matnr)
    # Laver et kald hvert 5 sekund
    time.sleep(5)
    return url

In [10]:
matrikel['tinglysning'] = matrikel.apply(get_tinglysning, axis=1)

In [48]:
print(matrikel['tinglysning'][1])

https://www.tinglysning.dk/tinglysning/unsecrest/ejendom/landsejerlavmatrikel?landsejerlavid=20151&matrikelnr=11cz

In [49]:
matrikel

,elavskode,matrnr,esr_ejdnr,tinglysning
0,20151.0,11bø,1.510034e+09,https://www.tinglysning.dk/tinglysning/unsecre...
1,20151.0,11cz,1.510034e+09,https://www.tinglysning.dk/tinglysning/unsecre...
2,20151.0,11cx,1.510034e+09,https://www.tinglysning.dk/tinglysning/unsecre...
3,20151.0,11cæ,1.510034e+09,https://www.tinglysning.dk/tinglysning/unsecre...
4,20151.0,11cp,1.510017e+09,https://www.tinglysning.dk/tinglysning/unsecre...

# Output

In [46]:
dtype = {
    'elavskode': sqlalchemy.VARCHAR(), 
    'matrnr': sqlalchemy.VARCHAR(),
    'esr_ejdnr': sqlalchemy.VARCHAR(),
    'tinglysning': sqlalchemy.JSON()
}

In [47]:
matrikel.to_sql('matrikel', con, schema=schema, if_exists='replace', index_label='gid', dtype=dtype)